<!DOCTYPE html>
<html style="background-color: black;">
<head>
    <link rel="icon" href="https://cdn.maxbridgland.com/psty-icon.ico">
    <link href="assets/css/prism.css" rel="stylesheet" />
    <link href="assets/css/bulma.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bfef34323a.js"></script>
    <title>Psty</title>
    <meta name="Description" content="Easily paste and share source code or plaintext with support for up to 154 languages!">
    <meta name="Keywords" content="paste, site, pasting, pastebin, ghostbin, upload, source, code, gist, easy">
</head>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://psty.maxbridgland.com/">
        <img src="assets/images/nav-logo.png" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://psty.maxbridgland.com/new">
            <span style="font-size: 28px; color: Dodgerblue;">
                <i class="fas fa-paste sz-9"></i> 
            </span>
        </a>
  
        <a class="navbar-item" href="https://twitter.com/psty_io">
            <span style="font-size: 28px; color: Dodgerblue;">
                <i class="fab fa-twitter-square sz-9"></i> 
            </span>
          
        </a>
        </div>
      </div>
    </div>
  </nav>
<body>
    <script src="assets/js/prism.js"></script>
    <pre class="line-numbers"><code class="language-{{language}}">{{code}}</code></pre>
</body>
</html>
